{
  "login_banner_title": "{{ nsx_manager_defaults_login_banner_title }}",
  "login_banner_content": "{{ nsx_manager_defaults_login_banner_content }}",
  "login_banner_checkbox_flag": {{ nsx_manager_defaults_login_banner_checkbox }},
  "login_banner_status": {{ nsx_manager_defaults_login_banner_status }}
}