{
  "api_failed_auth_lockout_period": {{ nsx_manager_defaults_api_lockout_period }},
  "api_failed_auth_reset_period": {{ nsx_manager_defaults_api_lockout_reset_period }},
  "api_max_auth_failures": {{ nsx_manager_defaults_api_max_auth_failures }},
  "cli_failed_auth_lockout_period": {{ nsx_manager_defaults_cli_lockout_period }},
  "cli_max_auth_failures": {{ nsx_manager_defaults_cli_max_auth_failures }},
}