{
    "_schema": "NodeHttpServiceProperties",
    "_self": {
        "href": "/node/services/http",
        "rel": "self"
    },
    "service_name": "http",
    "service_properties": {
        "basic_authentication_enabled": true,
        "certificate": {
             "pem_encoded": "{{ item.service_properties.certificate.pem_encoded | regex_replace('\\n','NEWLINESPLVAR')}}"
        },
        "cipher_suites": [
            {
                "enabled": true,
                "name": "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
            },
            {
                "enabled": true,
                "name": "TLS_RSA_WITH_AES_256_GCM_SHA384"
            },
            {
                "enabled": true,
                "name": "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
            },
            {
                "enabled": true,
                "name": "TLS_RSA_WITH_AES_128_GCM_SHA256"
            },
            {
                "enabled": true,
                "name": "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384"
            },
            {
                "enabled": true,
                "name": "TLS_RSA_WITH_AES_256_CBC_SHA256"
            },
            {
                "enabled": true,
                "name": "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA"
            },
            {
                "enabled": true,
                "name": "TLS_RSA_WITH_AES_256_CBC_SHA"
            },
            {
                "enabled": true,
                "name": "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256"
            },
            {
                "enabled": true,
                "name": "TLS_RSA_WITH_AES_128_CBC_SHA256"
            },
            {
                "enabled": true,
                "name": "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA"
            },
            {
                "enabled": true,
                "name": "TLS_RSA_WITH_AES_128_CBC_SHA"
            }
        ],
        "client_api_concurrency_limit": 40,
        "client_api_rate_limit": 100,
        "connection_timeout": 30,
        "cookie_based_authentication_enabled": true,
        "global_api_concurrency_limit": 199,
        "logging_level": "INFO",
        "protocol_versions": [
            {
                "enabled": false,
                "name": "TLSv1.1"
            },
            {
                "enabled": true,
                "name": "TLSv1.2"
            }
        ],
        "redirect_host": "",
        "session_timeout": 600
    }
}