{
    "id": "{{ item.id }}",
    "name": "{{ item.name }}",
    "usage": "{{ item.usage }}",
    "enabled": false,
    "displayName": "{{ item.displayName }}",
    "displayDescription": "{{ item.displayDescription }}"
}