- hosts: all
  roles:
    - role: vmware-photon-3.0-stig-ansible-hardening
      vars:
        var_syslog_authpriv_log: '/var/log/audit/sshinfo.log'
        run_login_umask: false # Setting this to false until umask issue is resolved
    - role: eam
    - role: lookup
    - role: perfcharts
    - role: postgresql
    - role: rhttpproxy
    - role: sts
    - role: vami
    - role: ui
    - role: misc
