input(type="imfile"
      File="/var/log/vmware/vsphere-ui/logs/access/localhost_access*"
      Tag="ui-access"
      Severity="info"
      Facility="local0")
input(type="imfile"
      File="/var/log/vmware/vsphere-ui/logs/vsphere-ui-runtime*"
      Tag="ui-runtime"
      Severity="info"
      Facility="local0")
