{
  "resource_type": "GatewayFloodProtectionProfile",
  "display_name": "{{ item.display_name}}",
  "udp_active_flow_limit": "{{ var_t0fw_fpp_udp_active_flow_limit }}",
  "icmp_active_flow_limit": "{{ var_t0fw_fpp_icmp_active_flow_limit }}",
  "tcp_half_open_conn_limit": "{{ var_t0fw_fpp_tcp_half_open_conn_limit }}",
  "other_active_conn_limit": "{{ var_t0fw_fpp_other_active_conn_limit }}"
}