{
  "service_name": "snmp",
  "service_properties": {
    "start_on_boot": false,
    "v2_configured": false,
    "v2_targets": [],
    "v3_auth_protocol": "SHA1",
    "v3_priv_protocol": "AES128",
  }
}