{
    "_schema": "NodeSshServiceProperties",
    "_self": {
        "href": "/node/services/ssh",
        "rel": "self"
    },
    "service_name": "ssh",
    "service_properties": {
        "root_login": {{ nsx_manager_defaults_ssh_root_login }},
        "start_on_boot": {{ nsx_manager_defaults_ssh_start_on_boot }}
    }
}