{
  "resource_type": "SpoofGuardProfile",
  "id": "{{ var_t1fw_spoofguard_profile_name }}",
  "display_name": "{{ var_t1fw_spoofguard_profile_name }}",
  "address_binding_allowlist": true,
  "address_binding_whitelist": true
}