{
  "is_enabled": "{{ ops_net_defaults_login_banner_enabled }}",
  "login_message_banner": "{{ ops_net_defaults_login_banner_message }}",
  "user_consent_title": "{{ ops_net_defaults_login_banner_title }}",
  "user_consent_description": "{{ ops_net_defaults_login_banner_description }}"
}
