{
  "ntpServers" : [
  {% if var_ntp_servers[0] is defined %}
    {
    "ipAddress" : "{{ var_ntp_servers[0] }}"
    }{% endif %}{% if var_ntp_servers[1] is defined %},
    {
    "ipAddress" : "{{ var_ntp_servers[1] }}"
    }
  {% endif %}
  ]
}