+++
title = "DoD Compliance and Automation"
linkTitle = "DoD Compliance and Automation"

+++

{{< blocks/cover title="Welcome to the VMware DoD Compliance and Automation Documentation Project!" image_anchor="top" height="auto" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/vmware/dod-compliance-and-automation">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="primary" height="auto" >}}

{{% blocks/feature icon="fa-solid fa-book" title="VMware STIGs" url="https://www.vmware.com/security/certifications/stigs.html" %}}
To find STIG guidance for VMware products.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-sharp fa-shield-halved" title="STIG Program" url="https://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/docs/vmware-stig-program-overview.pdf" %}}
For more information about our STIG program.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/vmware/dod-compliance-and-automation" %}}
We do a [Pull Request](https://github.com/vmware/dod-compliance-and-automation/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="primary" height="auto" >}}

{{% blocks/feature icon="fa-solid fa-book" title="VMware STIGs" url="https://www.vmware.com/security/certifications/stigs.html" %}}
To find STIG guidance for VMware products.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-book" title="VMware STIGs" url="https://www.vmware.com/security/certifications/stigs.html" %}}
To find STIG guidance for VMware products.
{{% /blocks/feature %}}

{{< /blocks/section >}}
