input(type="imfile"
      File="/var/log/vmware/eam/eam.log"
      Tag="eam-main"
      Severity="info"
      Facility="local0")
input(type="imfile"
      File="/var/log/vmware/eam/web/localhost_access_log*.txt"
      Tag="eam-access"
      Severity="info"
      Facility="local0")
input(type="imfile"
      File="/var/log/vmware/eam/jvm.log.std*"
      Tag="eam-stdout"
      Severity="info"
      Facility="local0")
input(type="imfile"
      File="/var/log/vmware/eam/web/catalina*.log"
      Tag="eam-catalina"
      Severity="info"
      Facility="local0")
input(type="imfile"
      File="/var/log/vmware/eam/web/localhost.*.log"
      Tag="eam-catalina"
      Severity="info"
      Facility="local0")
input(type="imfile"
      File="/var/log/vmware/firstboot/eam_firstboot.py*.log"
      Tag="eam-firstboot"
      Severity="info"
      Facility="local0")
