{
  "api_max_auth_failures": {{ nsx_manager_defaults_api_max_auth_failures }},
  "cli_max_auth_failures": {{ nsx_manager_defaults_cli_max_auth_failures }},
  "minimum_password_length": {{ nsx_manager_defaults_min_pass_length }},
  "lower_chars": {{ nsx_manager_defaults_min_pass_lower_chars }},
  "upper_chars": {{ nsx_manager_defaults_min_pass_upper_chars }},
  "digits": {{ nsx_manager_defaults_min_pass_digit_chars }},
  "special_chars": {{ nsx_manager_defaults_min_pass_special_chars }},
  "max_repeats": {{ nsx_manager_defaults_pass_max_repeats }}
}