{
  "resource_type": "GatewayFloodProtectionProfile",
  "description": "Gateway Firewall Flood Protection Profile created by Ansible",
  "display_name": "{{ var_t1fw_fpp_name }}",
  "udp_active_flow_limit": "{{ var_t1fw_fpp_udp_active_flow_limit }}",
  "icmp_active_flow_limit": "{{ var_t1fw_fpp_icmp_active_flow_limit }}",
  "tcp_half_open_conn_limit": "{{ var_t1fw_fpp_tcp_half_open_conn_limit }}",
  "other_active_conn_limit": "{{ var_t1fw_fpp_other_active_conn_limit }}"
}