{
    "entities": {{ operations_defaults_logs_to_offload }},
    "host": "{{ operations_defaults_log_server }}",
    "protocol": "{{ operations_defaults_log_server_protocol }}",
    "cluster": "{{ operations_defaults_log_server_cluster_name }}",
    "useSSL": "{{ operations_defaults_log_server_use_ssl }}"
}