---

- name: restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: restart auditd
  ansible.builtin.command: killproc auditd -TERM && systemctl start auditd

- name: reload auditd
  ansible.builtin.command: /sbin/augenrules --load

- name: restart syslog
  ansible.builtin.service:
    name: syslog
    state: restarted

- name: restart ntp
  ansible.builtin.service:
    name: ntpd
    state: restarted
